.frame-inner,
.subheading-for-description1 {
  position: relative;
  display: none;
  max-width: 100%;
}
.subheading-for-description1 {
  width: 1270px;
  height: 36px;
  line-height: 150%;
}
.frame-inner {
  height: 108px;
  width: 1440px;
  background-color: var(--color-gainsboro);
}
.b1 {
  height: 84px;
  position: relative;
  line-height: 150%;
  text-transform: capitalize;
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-shadow: 1.5px 0 0#494949, 0 1.5px 0#494949, -1.5px 0 0#494949,
    0-1.5px 0#494949;
  cursor: pointer;
  z-index: 1;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lgi);
  box-sizing: border-box;
  max-width: 100%;
}
.page3 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
  cursor: pointer;
  z-index: 1;
}
.page-frame {
  width: 146px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.page4 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
  cursor: pointer;
  z-index: 1;
}
.page-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.button3 {
  align-self: stretch;
  width: 51px;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: none;
  align-items: center;
}
.button2 {
  height: 52px;
  width: 99px;
  box-shadow: var(--button-shadow);
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-5xl);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  font-size: var(--small-text-size);
  color: var(--color-white);
}
.frame-div,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
  font-size: var(--body-text-size);
  color: var(--color-black);
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-61xl) 0 var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-silver);
  font-family: var(--body-text);
}
.rectangle-icon {
  height: 100px;
  width: 110px;
  position: relative;
  border-radius: var(--br-mini);
  display: none;
}
.page5 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
  z-index: 2;
}
.frame-wrapper1,
.vector-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.vector-group {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-11xl);
  z-index: 1;
}
.frame-wrapper1 {
  width: 696px;
  height: 100px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -66px;
}
.frame-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--color-black);
  font-family: var(--body-text);
}
.hero-image-icon1 {
  align-self: stretch;
  height: 367px;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.h11 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
}
.span3 {
  text-decoration: underline;
}
.a3 {
  color: inherit;
}
.span4 {
  text-decoration: underline;
}
.a4 {
  color: inherit;
}
.span5 {
  text-decoration: underline;
}
.a5 {
  color: inherit;
}
.span6 {
  text-decoration: underline;
}
.a6 {
  color: inherit;
}
.span7 {
  text-decoration: underline;
}
.a7 {
  color: inherit;
}
.span8 {
  text-decoration: underline;
}
.a8 {
  color: inherit;
}
.span9 {
  text-decoration: underline;
}
.a9 {
  color: inherit;
}
.span10 {
  text-decoration: underline;
}
.a10 {
  color: inherit;
}
.span11 {
  text-decoration: underline;
}
.a11 {
  color: inherit;
}
.span12 {
  text-decoration: underline;
}
.a12 {
  color: inherit;
}
.span13 {
  text-decoration: underline;
}
.a13 {
  color: inherit;
}
.span14 {
  text-decoration: underline;
}
.a14 {
  color: inherit;
}
.span15 {
  text-decoration: underline;
}
.a15 {
  color: inherit;
}
.p {
  margin: 0;
}
.span16 {
  text-decoration: underline;
}
.a16 {
  color: inherit;
}
.span17 {
  text-decoration: underline;
}
.a17 {
  color: inherit;
}
.span18 {
  text-decoration: underline;
}
.a18 {
  color: inherit;
}
.span19 {
  text-decoration: underline;
}
.a19 {
  color: inherit;
}
.span20 {
  text-decoration: underline;
}
.a20 {
  color: inherit;
}
.span21 {
  text-decoration: underline;
}
.a21 {
  color: inherit;
}
.span22 {
  text-decoration: underline;
}
.a22 {
  color: inherit;
}
.span23 {
  text-decoration: underline;
}
.a23 {
  color: inherit;
}
.span24 {
  text-decoration: underline;
}
.a24 {
  color: inherit;
}
.span25 {
  text-decoration: underline;
}
.a25 {
  color: inherit;
}
.span26 {
  text-decoration: underline;
}
.a26 {
  color: inherit;
}
.span27 {
  text-decoration: underline;
}
.a27 {
  color: inherit;
}
.span28 {
  text-decoration: underline;
}
.a28 {
  color: inherit;
}
.span29 {
  text-decoration: underline;
}
.a29 {
  color: inherit;
}
.span30 {
  text-decoration: underline;
}
.a30 {
  color: inherit;
}
.span31 {
  text-decoration: underline;
}
.a31 {
  color: inherit;
}
.span32 {
  text-decoration: underline;
}
.a32 {
  color: inherit;
}
.p1 {
  margin: 0;
}
.paragraph1 {
  width: 1270px;
  position: relative;
  font-size: var(--body-text-size);
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  max-height: 210px;
  word-break: break-word;
}
.group,
.hero-image-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.hero-image-parent {
  width: 1275px;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.about-child,
.about1 {
  display: flex;
  box-sizing: border-box;
  text-align: left;
  font-family: var(--body-text);
}
.about-child {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-6xl);
  max-width: 100%;
  font-size: var(--title-size);
  color: var(--color-black);
}
.about1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 70px;
  gap: var(--gap-83xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--subheading-size);
  color: var(--color-gray-100);
}
@media screen and (max-width: 1050px) {
  .b1 {
    display: none;
  }
}
@media screen and (max-width: 975px) {
  .h11 {
    font-size: var(--font-size-32xl);
  }
}
@media screen and (max-width: 725px) {
  .rectangle-group {
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .hero-image-parent {
    gap: var(--gap-base);
  }
  .about1 {
    gap: var(--gap-32xl);
  }
}
@media screen and (max-width: 450px) {
  .subheading-for-description1 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .frame-div {
    gap: var(--gap-5xl);
  }
  .h11 {
    font-size: var(--font-size-19xl);
  }
  .paragraph1 {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .about1 {
    gap: var(--gap-6xl);
  }
}
